FORMAT: 1A
HOST: https://wl.golden.env.yola.net

# Yola API

Partner API for Yola Sitebuilder.

All resources can be accessed via RESTful endpoints.

All endpoints expect and return JSON objects.

# Pagination

All listing endpoints return paginated results unless otherwise stated.

For example:

```
{
    "count": 6898,
    "next": "https://wl.qa.yola.net/pr/users/?page=2",
    "previous": null,
    "results": [{...}, {...}, ...]
}
```

You may pass `page` and `page_size` parameters to adjust the result set.

# Auth

All endpoints require valid HTTP authentication credentials unless otherwise stated.

When using the API console, enter your username and password as HTTP headers.

## Group Partners

Create, get, update and delete partners.

### Partner List Actions [/partners/]
 
#### List partners [GET]

#### Create a partner [POST]

+ Attributes
    + id: WL_TEST123 (string, required) - partner ID
    + name: Test Partner (string, required) - partner name
    + parent_partner_id: WL_TEST_PARENT (string) - optional string containing ID of the parent partner.  Is null for the top-level partners.  Default is null.
    + properties (object) - json object that contains mapping of property names to property values.
        + billing_email: (string) - partner billing email address.
        + billing_name: (string) - partner billing name.
        + billing_phone: (string) - partner billing phone.
        + company_address: (string) - address of the partner company.
        + company_logo: (string) - URL of partners company logo image.
        + company_logo_width: (number) - width of the company logo.
        + currency: (string) - ISO 4271 currency code.
        + country: (string) - name of the partner's country.
        + footer_url: (string) - URL of custom footer HTML or image.
        + google_maps_starting_address: (string) - the default search text to show in google map widget.
        + publishing_endpoint: (string) - URL to publish partner's sites.
        + publishing_type: (string) - determines the way how partner's sites are published.  The possible values are FTP (sites are published to the partner's FTP server) and YOLA (sites are published on Yola servers by yola means)
        + support_email: (string) - email of partner's customer support service.
        + support_name: (string) - name of the person or department responsible of partner's customer support service.
        + support_phone: (string) - phone number of partner's customer support.
        + support_url: (string) - URL the partners customer support site.
        + technical_email: (string) - email of partner's technical support service.
        + technical_name: (string) - name of the person or department responsible of partner's technical support service.
        + technical_phone: (string) - phone number of partner's technical support.
        + website: (string) - URL of partner's website
        + ftp_concurrency: (number) - max number of concurrent connections to partner's FTP publishing endpoint.
        + widget_exclusion_list: (array) - list of site widget names that should not be shown to partner's users.
        + available_non_paid_features: (array) - list of features enabled for users. Possible values are account_status, analytics, dashboard, payment_methods, profile
        + available_subscription_types: (array) - list of subscription types available for provisioning/switching to.  Replacement for old `packages` (which is deprecated).  Possible values are wl_ultra_lite, wl_lite, wl_basic, wl_premium, wl_premium_ecomm, wl_advertising_starter, wl_advertising_growth, wl_advertising_pro, wl_ecommerce_demo, wl_ecommerce_basic, wl_ecommerce_professional, wl_ecommerce_unlimited

### Single Partner Actions [/partners/{partner_id}/]

#### Get partner details [GET]

#### Full update of partner details [PUT]

The json object fields are the same as for partner creation.
Requires that all non-optional fields are set.

#### Partial update partner details [PATCH]

The json object fields are the same as for partner creation.
You only have to specify the fields you want to update.

#### Delete a partner [DELETE]

### Child partner IDs [/partners/{partner_id}/child_partner_ids/]

#### List IDs of child partners recursively [GET]

### Ancestor partner IDs [/partners/{partner_id}/ancestors/]

### List IDs of ancestor partners [GET]


## Group Users

Create, get, update, and delete users.

### User List Actions [/users/]

#### List all users [GET]

Results are filterable on the following fields:

* `id`
* `email`
* `partner_id`

For example: `GET /users/?page_size=100&partner_id=WL_YOLA`

#### Create user [POST]

+ Attributes
    + name: (string) - first name of the user.
    + surname: (string) - last name of the user.
    + email: (string) - user's email.
    + partner_id: (string) - ID of the partner this user belongs to.
    + preferences: (object) - name of the object items are the names of user prefernces and the values of the items are values of the preferences.

### Single User Actions [/users/{user_id}/]

#### Get details for a particular user [GET]

#### Full update of user details [PUT]

The json object fields are the same as for user creation. PUT requires that all non-optional fields are set.

#### Partial update of user details [PATCH]

The json object fields are the same as for user creation. PATCH allows to specify only fields that are about to be modified.

#### Delete a user [DELETE]

### SSO Create Site URL [/users/{user_id}/sso_url_create_site/?domain={domain}]

#### Get SSO Create Site URL for a particular user [GET]

### SSO Open Site URL [/users/{user_id}/sso_url_open_site/]

#### Get SSO Open Site URL for a particular user [GET]

WL user can only have one site, so this endpoint doesn't require site id.

### Change partner [/users/{user_id}/change_partner/]

#### Change partner for a particular user [POST]

+ Attributes
    + new_partner_id: (string) - ID of the new partner
